*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, ‘Helvetica Neue’, sans-serif;;
}
 /* mobile first */
 /* regoole header */
 header {
    height: 100px;
    background-color: white;
    font-family: ‘Nerko One’, cursive;
    font-size: 40px;
    color: rgb(249, 162, 22);
    text-align: center;
    padding-top: 5%;
 }

 body{
    background-color: lightgray;
 }
 /* regole container */
 .container {
    width: 75%;
    margin:3% auto;
    
 }
 /* regole jumbo */

 .jumbo h4{
    color: gray;
    
 }
 .jumbo h1{
    color: darkorchid;
    margin-bottom: 3%;
    font-size: 25px;
 }
 .jumbo span{
    display: none;
 }
/* regole immagin e testo */
.cakeinfo{
    box-shadow: -4px 4px 10px #504848;

}
 .cakeinfo img {
    max-width: 100%;
    margin: 0 auto;
 }
 
 .cakeinfo ul{
    list-style: none;
    margin-top: 17px;
 }
 .cakeinfo li{
    margin-top: 9px;
 }
 #colonnadx{
    background-color: white;
    padding: 4%;
    
 }
 #colonnadx h3{
    font-size: 23px;
 }
 /* regole icone social */
 .social {
    
    margin-top: 30px ;
 }
 .social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
 }
 .social li {
    background-color: bisque;
    border-radius: 9999px;
    padding: 2%;
    box-shadow: 10px 8px 2px #504848;
 }
 .social span {
    display: none;
 }
 .fa-facebook {
    color: blue;
 }
 .fa-twitter {
    color: rgb(22, 170, 224);
 }
 .fa-instagram {
    color: rgb(230, 52, 20);
     }
.fa-pinterest {
    color: darksalmon;
}
.fa-youtube {
    color: red;
}
 
 /* regole banner */
 #banner {
   
    display: none;
 }
 #banner img{
    max-width: 100%;
    margin: 20px auto 0;
 }
 /* regole sezione presentazione */
#presentazione {
    margin-top: 13px;
}
hr {
   width: 13%;
   border: 1px solid red;  
     margin-top: 20px;
   margin-bottom: 20px;
   
}
#presentazione img {
    max-width: 100%;
    padding: 0 10%;
    text-align: center;
}
 /* regole footer */
 footer{
    background-color: blueviolet;
    color: white;
 }
 footer div {
    padding: 3% 0;
     text-align: center;
    
  }
  footer ul{
    list-style: none;
    display: flex;
    color: white;
    
   
}

footer li{
    /* margin-right:  3px; */
    width: 40%;
    text-decoration: underline;
    
}
 
  /* REGOLE TABLET */
   @media screen and (min-width:768px) {
    /* regole header */
    header{
        text-align: start;
        padding-top: 2%;
    }

    header span{
        margin: 10px 15px;
    }
    /* regole jumbo */
   .jumbo h1{
    font-size: 30px;
   }
    .jumbo span {
        display: inline;
    }
    
    /* regole icone social */
    .social li {
        padding: 1% 3%;
    }
   
    /* regole banner */
    #banner {
        display: block;
    }
    /* regole sezione presentazione */
    #presentazione img{
       width: 30%;
      margin-right: 12px;
      margin-bottom:12px;
      float: left;
     padding: 0;
     text-align: start;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
   }
   @media screen and (min-width: 768px) and (max-width: 991px) {
    #colonnadx ul{
        display: flex;
        flex-wrap: wrap;
    }
    #colonnadx li{
        width: 30%;
    }
   .social li{
    padding: 1% 7%;
   }
   }
   

   /* REGOLE DESKTOP */
   @media screen and (min-width:992px) {
    /* regole jumbo */
    .cakeinfo{
        display: flex;
    }
    .jumbo h1{
        font-size: 35px;
       }
       #colonnadx {
        width: 34%;
       }
    /* regole icone social */
    .social span {
        display: inline;
        margin-left: 2px;
        font-size: 14px;
        font-weight: bold;
        
    }
    /* regole footer */
    footer {
        display: flex;
        justify-content: space-between;
    }
    footer div{
        margin-left: 10px;
    }
      
   }